@import url("https://fonts.googleapis.com/css2?family=Inter&family=Sansita&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: "Inter";
}
a {
  text-decoration: none;
}

.head-text {
  font-family: "sansita";
  color: theme("colors.purple.700");
  font-size: 43px;
  font-weight: 700;
}

.orange-btn {
  background-color: theme("colors.orange");
  color: theme("colors.purple.700");
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  font-size: 22px;
  font-family: "sansita";
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}
